<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text">
        <div class="container-qoute">
        extant<br>
        [ˈekstənt, ekˈstant, ˈekˌstant] 🔊<br>
        (especially of a document) still in existence; surviving.<br>
        </div>
    
        <!-- Check out the <a href="{{'/notes' | relative_url}}"> demo </a>, <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>. -->
</div> </div>

